.Card{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px rgb(15, 6, 6);
    background-color: rgb(223, 199, 199);
    border-radius:10px;
    color: blue;
    margin-top: 25px !important ;
}

.Card div{
    display: flex;
    align-self: center;
    justify-content: center;
}

.Btn{
    display: flex;
    align-items: center;
}

.Sppiner{
    margin-top: 50%;
    margin-left: 50%;
}